{% extends 'base.html' %}
{%block content %}
     <div id="wrapper">
         {% include "sidebar.html" %}
         <div id="content-wrapper" class="d-flex flex-column ">
             {% include "topbar.html" %}
             <div id="content">
                    <div class="container-fluid ">
                    <h1 class="h3 mb-2 text-gray-800">Datos del miembro</h1>
                        <div class="row">
                            <div class="col-xl "> 
                                <form method='POST'>
                                 {%csrf_token%}
                                    <div class="form-row">
                                      <div class="form-group col-md-3">
                                        <label for="inputEmail4">Nombre</label>
                                        <input type='text' class='form-control' value='{{miembro.m_nomb}}' disabled> 
                                      </div>
                                      <div class="form-group col-md-4 ">
                                        <label for="inputPassword4">Apellido Paterno</label>
                                        <input type='text' class='form-control' value='{{miembro.m_app}}' disabled> 
                                      </div>
                                      <div class="form-group col-md-4">
                                        <label for="inputAddress">Apellido Materno</label>
                                        <input type='text' class='form-control' value='{{miembro.m_apm}}' disabled> 
                                      </div> 
                                    </div>
                                    <div class="form-group">                                 
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                          <label for="inputState">Telefono</label>
                                          <input type='text' class='form-control' value=' {{miembro.m_tel}}' disabled> 
                                        </div>
                                        <div class="form-group col-md-6">
                                          <label for="inputZip">Telefono Secundario</label>
                                            {%if miembro.m_genero.exists %}
                                            <input type='text' class='form-control' value=' {{miembro.m_tel2}}' disabled>
                                                 {% else %}    
                                            <input type='text' class='form-control' value='No hay telefono registrado' disabled> 
                                             {%endif%}
                                        </div>
                                      </div>
                                    <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label for="inputState">Correo</label>
                                        <input type='text' class='form-control' value='{{miembro.m_correo}}' disabled>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputZip">Correo Secundario</label>
                                        <input type='text' class='form-control' value='{{miembro.m_correo2}}' disabled>
                                      </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                          <label for="inputState">Cargo</label>
                                          <input type='text' class='form-control' value=' {{miembro.m_cargo}}' disabled>
                                        </div>
                                        <div class="form-group col-md-2">
                                          <label for="inputZip">Fecha de registro</label>
                                          <input
                                          type="text"
                                          class="form-control"
                                          name="m_fechains"
                                          value='{{miembro.m_fechains}}'
                                          disabled
                                        >
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="inputZip">Instituto</label>
                                          <input type='text' class='form-control' value='{{miembro.m_fkinst}}' disabled>
                                          </div>
                                      </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                              <label for="inputState">Genero</label>
                                              {%if miembro.m_genero == 1 %}
                                              <input type='text' class='form-control' value='Masculino' disabled>
                                              {% else %}   
                                              <input type='text' class='form-control' value='Femenino' disabled>
                                              {%endif%}
                                            </div>
                                            <div class="form-group col-md-4">
                                                
                                              <label for="inputZip">Grado Academico</label>
                                              {%if miembro.m_gradacad == 1 %}
                                                <input type='text' class='form-control' value='Licenciado(a)' disabled><br>
                                              {% elif miembro.m_gradacad == 2 %}
                                              <input type='text' class='form-control' value='Ingeniero(a)' disabled><br>
                                              {% elif miembro.m_gradacad == 3 %}   
                                              <input type='text' class='form-control' value='Maestro(a)' disabled><br>
                                              {% else%} 
                                              <input type='text' class='form-control' value='Doctor(a)' disabled><br>
                                              {%endif%}
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputZip">Estatus</label>
                                                {%if miembro.m_estatus == 1 %}
                                                <input type='text' class='form-control' value='Activo(a)' disabled><br>
                                                {% elif miembro.m_estatus == 2 %}
                                                <input type='text' class='form-control' value='Inactivo(a)' disabled><br>
                                                {% else%} 
                                                <input type='text' class='form-control' value='En proceso' disabled><br>
                                                {%endif%}                                 
                                              </div>
                                              <div class="form-group col-md-4">
                                                <label for="inputZip">Tipo de Miembro</label>
                                                <input type='text' class='form-control' value=' {{miembro.m_fktipo}}' disabled>
                                              </div>  
                                          </div>
                                    <a class=' btn btn-success mr-2' href="/miembros/Ver">Regresar</a><br>
                                    </div>
                                  </form>   
                            </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </body>
{% endblock %}
