{% extends 'base.html' %}
{% block content%}
     <div id="wrapper">
         {% include "sidebar.html" %}
         <div id="content-wrapper" class="d-flex flex-column ">
             {% include "topbar.html" %}
             <div id="content">
                    <div class="container-fluid ">
                <h1 class="h3 mb-2 text-gray-800">Datos de la institución</h1>
                        <div class="row">
                            <div class="col-xl "> 
                                <form method='POST'>
                                    {{error}}
                                 {%csrf_token%}
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                          <label for="inputEmail4">Nombre</label>
                                          {{form.ins_nomb}}                          </div>
                                        <div class="form-group col-md-4 ">
                                          <label for="inputPassword4">Siglas</label>
                                          {{form.ins_sigla}}
                                        </div>
                                        <div class="form-group col-md-4">
                                          <label for="inputAddress">Dirección</label>
                                          {{form.ins_dir}} 
                                        </div> 
                                      </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                          <label for="inputState">Localidad</label>
                                          {{form.ins_localidad}}
                                        </div>
                                        <div class="form-group col-md-6">
                                          <label for="inputZip">Telefono</label>
                                          {{form.ins_tel}}
                                        </div>
                                      </div>
                                    <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label for="inputState">Correo</label>
                                        {{form.ins_correo}}
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputZip">Tipo de Institución</label>
                                        {{form.ins_fktipo}}
                                      </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                          <label for="inputState">Enlace</label>
                                          {{form.ins_fkenlace}}
                                        </div>
                                        <div class="form-group col-md-2">
                                          <label for="inputZip">Subcategoria</label>
                                          {{form.ins_subcat}}
                                        </div>
                                      </div>
                                      <button type="submit" class="btn btn-success">Guardar</button>
                                  <a class=' btn btn-primary mr-2' href="/miembros/Ver">Regresar</a><br>
                                  </form>
                            </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </body>
 
 {% endblock %}
