{% extends 'base.html' %}
{% block content%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <div id="wrapper">
         {% include "sidebar.html" %}
         <div id="content-wrapper" class="d-flex flex-column ">
             {% include "topbar.html" %}
             <div id="content">
                    <div class="container-fluid ">
                <h1 class="h3 mb-2 text-gray-800">Datos del proyecto</h1>
                        <div class="row">
                            <div class="col-xl "> 
                                <form method='POST'>
                                    {{error}}
                                 {%csrf_token%}
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                          <label for="">Nombre del Proyecto</label>
                                          {{form.proy_nomb}}                          </div>
                                        <div class="form-group col-md-4 ">
                                          <label for="inputPassword4">Tipo de Proyecto</label>
                                          {{form.proy_tipo}}
                                        </div>
                                        <div class="form-group col-md-4">
                                          <label for="inputAddress">Descripción</label>
                                          {{form.proy_desc}} 
                                        </div> 
                                      </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                          <label for="inputState">Fecha de inicio</label>
                                          {{form.proy_fechini}}
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputZip">Fecha de terminación</label>
                                          {{form.proy_fechfin}}
                                          </div>
                                          <div class="form-group col-md-4">
                                            <label for="inputZip">Coordinador</label>
                                            {{form.proy_coord}}
                                          </div> 
                                      </div>
                                      <div class="form-row">
                                        <div class="form-group col-md-4">
                                          <label for="inputZip">Secretario de proyecto </label>
                                          {{form.proy_sec}}
                                        </div>
                                      </div>
                                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                    <a class=' btn btn-success mr-2' href="/proyectos/Ver">Regresar</a><br>
                                  </form><br>

                                  <!-- Formulario para agregar o eliminar miembros del proyecto-->  
                                 
                                  <h1 class="h3 mb-2 text-gray-800">Participantes</h1>
                                  <div class="row text-right">
                                    <div class="col-md-12">
                                      <button class="btn add-btn btn-info"><i class="fas fw-fa fa-solid fa-plus ml-0"></i> Agregar participante</button><br>
                                    </div>
                                  </div>
                                  <form method='POST'>
                                  <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="80%" cellspacing="0">
                                      <thead>
                                                 <tr>
                                                <th>Nombre completo</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for partic in details%}
                                            <tr>
                                                <td>{{partic.dn_fkmiemb}}</td>
                                                <td><a class=' btn btn-success mr-2' href=""><i class="fas fa-fw fa-solid fa-eye"></i></a><!-- NO FUNCIONA-->  
                                                  <a class=' btn btn-danger mr-2' href="/participantes/Ver"><i class="fas fa-fw fa-solid fa-trash"></i></a> 
                                                </td>    
                                                {% endfor %}
                                                <div class="newData"></div>
                                            </tr>
                                        </tbody>
                                    </table>
                                  </div>
                                </form>
                                </div>
                            </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </body>
 
 <script type='text/javascript'>
  $(function () { 
    var i = 1;
    $('.add-btn').click(function (e) {
      e.preventDefault();
        i++;
      $('.newData').append('<div id="newRow'+i+'" class="form-row">'
          +'<div class="col-md-12">'
            +'<label>Miembro</label>'
            +'{{form2.dn_fkmiemb}}'
          +'</div>'
          +'</div>'
          +'<a href="#" class="remove-lnk" id="'+i+'">Eliminar "'+i+'"</a>'
          +'</div>' '
        );  
    });


     $(document).on('click', '.remove-lnk', function(e) {
       e.preventDefault();
        var id = $(this).attr("id");
         $('#newRow'+id+'').remove();
      });

  });
</script>
 {% endblock %}
